<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About CKD</title>

    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   

	<style>
    body{
        background: #F6FAFD;
        color: red;
    }
    .question {
        color: red;
        font-size: 1.7em;
    }
    .answer {
        color: #555555;
        font-size: 1.2em;
    }
    @media (max-width: 767px) {
        iframe {
            width: 90%;
        }
        img {
            width: 95%;
        }
    }
    </style>
    
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F6FAFD; margin-left: 4em;">
            <div class="container-fluid" style="font-size: 1.1em;">
                <a class="navbar-brand" href="#" style="font-family: 'signika'; font-size: 1.5em; color : #555;">
                    <img src="http://getdrawings.com/free-icon/bean-icon-59.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    nephrict</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/">Home</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#">About CKD</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/news">News</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/test">Take the test</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        <div id="content" style="margin-top: 3em;">
		<div class="container" >
            <h1 style="color: #555;">About Chronic Kidney Disease</h1>
            <br>
		  <div class="row" style="padding-top: 4em; border-top: 5px solid red;">
			<div class="col-sm-12 col-lg-10" >
                <p class="question">What is Chronic Kidney Disease?</p>
                <p class="answer">Chronic kidney disease (CKD), also called chronic kidney failure, 
                    describes the gradual loss of kidney function. Your kidneys filter wastes 
                    and excess fluids from your blood, which are then excreted in your urine. 
                    When chronic kidney disease reaches an advanced stage, dangerous levels of fluid, 
                    electrolytes and wastes can build up in your body.
                    <br><br>
                    <center><iframe width="70%" height="400px" src="https://www.youtube.com/embed/FXLR_Q0zFrE?end=52" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen></iframe> </center>
                    <br>
                </p>
                <p class="question">What causes CKD?</p>
                <p class="answer">Anyone can get CKD. Some people are more at risk than others. 
                    Some things that increase your risk for CKD include:
                    <ul class="answer">
                        <li>Diabetes</li>
                        <li>High blood pressure (hypertension)</li>   
                        <li>Heart disease</li>    
                        <li>Having a family member with kidney disease</li>    
                        <li>Being African-American, Hispanic, Native American or Asian</li>    
                        <li>Being over 60 years old</li>
                    </ul>
                </p>
                <p class="question">What are the symptoms of CKD?</p>
                <p class="answer">You may notice one or more of the following symptoms if your kidneys are beginning to fail:
                    <ul class="answer">
                    <li>Itching</li>
                    <li>Muscle cramps</li>
                    <li>Nausea and vomiting</li>
                    <li>Not feeling hungry</li>
                    <li>Swelling in your feet and ankles</li>
                    <li>Too much urine (pee) or not enough urine</li>
                    <li>Trouble catching your breath</li>
                    <li>Trouble sleeping</li>
                    </ul>
                </p>
                <p class="question">What are the complications that arise due to CKD?</p>
                <p class="answer">Your kidneys help your whole body work properly. 
                    When you have CKD, you can also have problems with how the rest of your body is working. 
                    Some of the common complications of CKD include anemia, bone disease, heart disease, 
                    high potassium, high calcium and fluid buildup.
                </p>
                <p class="question">Is CKD life-threatening?</p>
                <p class="answer">CKD occurs in five stages:<br>
                    <img src="https://lifeoptions.org/assets/images/resources/kidney-stages.png">
                </p>
                <p class="question">How do I know if I have CKD?</p>
                <p class="answer">CKD usually does not have any symptoms until your kidneys are badly damaged. 
                    The only way to know how well your kidneys are working is to get tested.<br>
                    If you have your report at hand, you can try taking this <a href="http://localhost:5000/test">test</a>. 
                </p>
                <p style="font-size: 2em; margin-top: 2.5em; color: #555555;">
                    Protect your kidney. Save your heart.
                </p>    
            </div>
			
			</div>
			 
		  </div>
        </div>
		</div>
</body>

</html>